body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #009C9A, #00B5E5);
    color: white;
}

h1 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
}

h2 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
}

h3 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}


p {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 14pt;
}

#logonm {
    height: 50px;
    margin-right: 50px;
}

nav {
    position: fixed;
    inset: 0% 0% auto;
    align-items: center;
    display: flex;
    justify-content: center;
    width: min-content;
    margin: 0 auto;
    background-color: #003842;
    margin-top: 3.125em;
    padding: 10px;
    border-radius: 12px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
    justify-content: space-around;

}

nav ul li a {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 10pt;
    text-decoration: none;
    text-align: center;
    color: white;
    /* alineacion del texto */
    display: flex;
    flex-direction: column;
    transition: color 0.3s, transform 0.3s;
}

.iconnav {
    width: 30px;
    margin: 0 auto;
    padding-bottom: 5px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(100%) contrast(100%);
}


nav ul li a:hover {
    color: #fffacd;
    /* Cambiar color al pasar el ratón (color blanco cremoso) */
    transform: scale(1.1);
}

#bienvenida {
    max-width: 100%;
    padding: 13%;
    text-align: center;
    justify-content: center;
}

div button {
    background-color: #00b5e5;
    border: 1px solid #00b5e5;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin-left: 20px;
}

#servicioscard {
    padding: 10% 20% 8% 20%;
    justify-content: center;
    background-color: #030c18;

}

#servicioscard button {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 15px;
    padding: 10px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    color: white;
    font-size: 13pt;
}

.iconheader {
    vertical-align: baseline;
    top: 5px;
    height: 18px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(100%) contrast(100%);
}

#h2servicios {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    /* Mantener alineación al final */
}

#h2servicios h2,
#h2servicios p {
    flex: 1 1 100%;
    /* Tamaño predeterminado: 100% del ancho disponible */
}

#h2servicios h2 {
    flex-basis: 70%;
    /* Ajustar a 70% del ancho en pantallas grandes */
}

#h2servicios p {
    flex-basis: 30%;
    /* Ajustar a 30% del ancho en pantallas grandes */
    font-size: 1rem;
}



/* Animaciones */
.animated-button {
    background-color: #009C9A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.animated-button:hover {
    background-color: #007B73;
    transform: scale(1.05);
}

.animated-button:active {
    background-color: #005F56;
    transform: scale(0.95);
}

/* Contenedor de cards */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Cards individuales */
.card {
    background-color: rgba(15, 174, 147, 0.7);
    /* Color de fondo turquesa claro con transparencia */
    color: white;
    /* Color de texto blanco */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card a {
    text-decoration: none;
    color: white;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin-bottom: 10px;
    font-family: "Lexend", serif;
}

.card p {
    font-family: "Lexend", serif;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    .contact-banner {
        font-size: 14px;
    }

    .card h3 {
        font-size: 18px;
    }

    .card p {
        font-size: 14px;
    }
}

#contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 2% 20% 2% 20%;
    background-color: rgba(0, 56, 66, 0.9);
}

#minibiofooter,
#rssfooter {
    max-width: 80%;
    padding: 10px;
}

#minibiofooter p {
    font-size: 12pt;
}

#rssfooter {
    text-align: center;
}

.iconrsscont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
}

.iconrsscont a,
#urlfooter a {
    padding: 10px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 10pt;
}

.iconrss a {
    text-align: center;
    box-sizing: border-box;
    max-width: 100px;
}

.iconrss {
    width: 35px;
    height: 35px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(100%) contrast(100%);
}

iframe {
    margin: 5px;
    height: auto;
    width: 100%;
}

#tyc {
    display: flex;
    justify-content: space-around;
    padding: 2% 20% 2% 20%;
}

#tyc a {
    font-family: "Montserrat", serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
}