<nav class="navbar">
  <div id="logonm">
    <img src="/assets/home/logonm.svg" alt="Nahiri Maito" />
  </div>
  <ul>
    <li>
      <a href="/index.html">
        <img
          class="iconnav"
          src="https://img.icons8.com/?size=100&id=Ql0l8S0vDvXy&format=png&color=000000"
        />Inicio</a
      >
    </li>
    <li>
      <a href="/pages/servicios/servicios.html">
        <img
          class="iconnav"
          src="https://img.icons8.com/?size=100&id=tTFSjON5LeOf&format=png&color=000000"
        />Servicios</a
      >
    </li>
    <li>
      <a href="/pages/portafolio/portafolio.html">
        <img
          class="iconnav"
          src="https://img.icons8.com/?size=100&id=ereCgk2Vsxa2&format=png&color=000000"
        />Portfolio</a
      >
    </li>
    <li>
      <a href="/pages/nosotros/nosotros.html">
        <img
          class="iconnav"
          src="https://img.icons8.com/?size=100&id=GesQWESeiSrx&format=png&color=000000"
        />Nosotros</a
      >
    </li>
  </ul>
</nav>

<section class="barghost"></section>
