/* Ajustes globales */
h1 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 5vw;
}

h2 {
    font-family: "Gasoek One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
}

h3 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3vw;
}

p {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 2vw;
}

button {
    background-color: #00b5e5;
    border: 1px solid #00b5e5;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin-left: 20px;
}

.animated-button {
    background-color: #009C9A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.animated-button:hover {
    background-color: #007B73;
    transform: scale(1.05);
}

.animated-button:active {
    background-color: #005F56;
    transform: scale(0.95);
}

/* Ajustes unicos */
.content {
    display: flex;
    align-items: center;
    margin: 5%;
    height: 90lvh;
}

.contitle {
    display: flex;
    align-items: center;
    max-height: 90vh;
    padding: 5%;
    background-color: #009C9A;
    border-radius: 20px;
}

.conthead {
    text-wrap: balance;
    padding: 10px;
    text-align: center;
    width: 30%;
    height: 50vh;
    border: 1px solid blue;
}

.contdesc {
    text-wrap: balance;
    text-align: center;
    width: 70%;
    height: 50vh;
    border: 1px solid red;
}

.carrouselexamples {
    text-align: center;
}

#content1 .conthead,
#content2 .conthead,
#content3 .conthead,
#content4 .conthead,
#content5 .conthead {
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
    background-size: cover;
    color: white;
    align-content: center;
}

.conthead h2,
.conthead p {
    text-shadow: 0px 3px 10px black;

}

.imgcarrousel {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.imgcarrousel div img {
    max-width: 300px;
    width: 10vw;
    height: auto;
}

#content1 .conthead {
    background-image: url(assets/history.png);
}

#content2 .conthead {
    background-image: url(assets/stream.png);
}

#content3 .conthead {
    background-image: url(assets/mugpress.png);
}

#content4 .conthead {
    background-image: url(assets/illustration.png);
}

#content5 .conthead {
    background-image: url(assets/code.png);
}